### 1. 데이터 로드

In [1]:
from sklearn.datasets import load_iris

In [2]:
iris_data = load_iris()

In [3]:
type(iris_data)

sklearn.utils.Bunch

In [4]:
iris_data.keys()

dict_keys(['data', 'target', 'target_names', 'DESCR', 'feature_names'])

In [5]:
print(iris_data['data'].shape)
iris_data['data'][:10] # 데이터가 너무 많으니 10개만 프린트

(150, 4)

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1]])

In [6]:
iris_data['feature_names']

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [7]:
print(iris_data['target'].shape)
iris_data['data'][:10]

(150,)

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1]])

In [8]:
iris_data['target_names']

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [9]:
# Bunch 객체를 DataFrame 객체로 변환하기

import pandas as pd
df = pd.DataFrame(iris_data['data'], columns = iris_data['feature_names'])

# pd.DataFrame(데이터명, columns = 칼럼명)

In [10]:
print(df.shape)
print(df.info())
df.head()

(150, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
sepal length (cm)    150 non-null float64
sepal width (cm)     150 non-null float64
petal length (cm)    150 non-null float64
petal width (cm)     150 non-null float64
dtypes: float64(4)
memory usage: 4.8 KB
None

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [11]:
# target 이라는 column 생성

df['target'] = iris_data['target']
df['target'].value_counts()

2    50
1    50
0    50
Name: target, dtype: int64

In [12]:
# label 이라는 column 생성

dict(enumerate(iris_data['target_names']))
df['label'] = df.target.replace(dict(enumerate(iris_data['target_names'])))
df.head()

# enumerate : it allows us to loop over something and have an automatic counter
# 자동으로 처리를 해주는구만!
# target 0 : setosa, target 1 : versicolor, target 2 : virginica

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,label
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [13]:
df.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,label
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica

In [14]:
df['label'].value_counts()

setosa        50
virginica     50
versicolor    50
Name: label, dtype: int64

In [15]:
df.iloc[:, 0:4].head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

### 2. 훈련데이터와 테스트데이터 나누기
* 훈련데이터(train data)는 학습을 할 때 사용되는 데이터 (머신러닝 모델을 만들 때 사용)
* 테스트데이터(test data)는 예측을 할 때 사용되는 데이터 (모델이 얼마나 잘 동작하는지 확인할 때 사용)
* 수학함수에서 f(x) = y, x는 입력, y는 출력
* 훈련데이터의 값(X_train), 훈련데이터의 레이블(y_train)
* 테스트데이터의 값(X_test), 테스트데이터의 레이블(y_test)
* 75%는 훈련데이터, 25%는 테스트 데이터
* train_test_split() 함수 사용

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:, 0:4], df['target'])

In [18]:
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(112, 4) (112,)
(38, 4) (38,)

### 3. 학습하기(fit) & 예측하기(predict) & 평가하기(score)

In [19]:
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier(n_neighbors = 5)
model

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [20]:
# 학습하기
model.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')