In [1]:
!pip show plotnine

Name: plotnine
Version: 0.5.1
Summary: A grammar of graphics for python
Home-page: https://github.com/has2k1/plotnine
Author: None
Author-email: None
License: GPL-2
Location: c:\users\jason\anaconda3\lib\site-packages
Requires: descartes, matplotlib, numpy, mizani, statsmodels, pandas, patsy, scipy
Required-by:

In [2]:
#warning message 않 보이게
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
# library import
import pandas as pd
import numpy as np
from plotnine import *

In [4]:
# 그래프가 노트북 안에 보이게 하기 위한 설정
%matplotlib inline

In [5]:
df = pd.read_csv('data/seoul_bike/서울특별시 공공자전거 대여이력 정보_2018년_2분기_4.csv',\
                encoding='cp949',engine='python')
df.shape

(586304, 11)

In [6]:
df.head(2)

,'자전거번호','대여일시','대여대여소번호','대여대여소명','대여거치대','반납일시','반납대여소번호','반납대여소명','반납거치대','이용시간(분)','이용거리(M)'
0,'SPB-11906','2018-06-16 00:00:07','932',' 예일여중',1,'2018-06-16 00:16:41','934',' 신사동 성당',11,15,2160
1,'SPB-16954','2018-06-16 00:00:07','272',' 당산육갑문',16,'2018-06-16 02:00:36','1827',' 독산보도육교 앞 자전거 보관소',9,120,18100

In [7]:
df.tail(2)

,'자전거번호','대여일시','대여대여소번호','대여대여소명','대여거치대','반납일시','반납대여소번호','반납대여소명','반납거치대','이용시간(분)','이용거리(M)'
586302,'SPB-06577','2018-06-30 23:59:57','1251',' 석촌역 2번출구',2,'2018-07-01 00:57:29','1245',' 문정 법조단지9',4,57,6640
586303,'SPB-03842','2018-06-30 23:59:58','2169',' 봉천역 2번출구',6,'2018-07-01 00:08:05','2112',' 서울대입구역 마에스트로',7,7,910

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 586304 entries, 0 to 586303
Data columns (total 11 columns):
'자전거번호'      586304 non-null object
'대여일시'       586304 non-null object
'대여대여소번호'    586304 non-null object
'대여대여소명'     586304 non-null object
'대여거치대'      586304 non-null int64
'반납일시'       586304 non-null object
'반납대여소번호'    586304 non-null object
'반납대여소명'     586304 non-null object
'반납거치대'      586304 non-null int64
'이용시간(분)'    586304 non-null int64
'이용거리(M)'    586304 non-null int64
dtypes: int64(4), object(7)
memory usage: 49.2+ MB

In [9]:
df.describe()

             '대여거치대'        '반납거치대'      '이용시간(분)'      '이용거리(M)'
count  586304.000000  586304.000000  586304.000000  586304.000000
mean        6.981460       6.939248      28.922530    4712.563602
std         5.217671       5.196975      30.866556    9003.052657
min         1.000000       1.000000       2.000000       0.000000
25%         3.000000       3.000000       9.000000    1320.000000
50%         6.000000       6.000000      18.000000    2530.000000
75%        10.000000      10.000000      40.000000    5290.000000
max        40.000000      40.000000    4320.000000  255070.000000

In [10]:
df.describe(include=np.object)

,'자전거번호','대여일시','대여대여소번호','대여대여소명','반납일시','반납대여소번호','반납대여소명'
count,586304,586304,586304,586304,586304,586304,586304
unique,12970,426750,1267,1267,427833,1269,1269
top,'SPB-18238','2018-06-18 18:56:44','207',' 여의나루역 1번출구 앞','2018-06-19 19:53:32','113',' 홍대입구역 2번출구 앞'
freq,139,42,4073,4073,18,3896,3896

In [14]:
# 컬럼에 있는 ' 를 제거한다.
df.columns = df.columns.str.strip("'")
df.head(1)

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간(분),이용거리(M)
0,'SPB-11906','2018-06-16 00:00:07','932',' 예일여중',1,'2018-06-16 00:16:41','934',' 신사동 성당',11,15,2160

In [15]:
# data 에 있는 ' 을 제거하기
df = df.apply(lambda x:x.str.strip("'") \
             if x.dtype == np.dtype('object') else x)
df.head(2)

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간(분),이용거리(M)
0,SPB-11906,2018-06-16 00:00:07,932,예일여중,1,2018-06-16 00:16:41,934,신사동 성당,11,15,2160
1,SPB-16954,2018-06-16 00:00:07,272,당산육갑문,16,2018-06-16 02:00:36,1827,독산보도육교 앞 자전거 보관소,9,120,18100

In [18]:
# 결측치(null data) 확인
df.isnull().head()

,자전거번호,대여일시,대여대여소번호,대여대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간(분),이용거리(M)
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False

In [19]:
# 결측치(null data) 확인
df.isnull().sum()

자전거번호      0
대여일시       0
대여대여소번호    0
대여대여소명     0
대여거치대      0
반납일시       0
반납대여소번호    0
반납대여소명     0
반납거치대      0
이용시간(분)    0
이용거리(M)    0
dtype: int64

In [20]:
df.columns

Index(['자전거번호', '대여일시', '대여대여소번호', '대여대여소명', '대여거치대', '반납일시', '반납대여소번호',
       '반납대여소명', '반납거치대', '이용시간(분)', '이용거리(M)'],
      dtype='object')

In [21]:
#대여량이 많은 상위 대여소명 출력
df['대여대여소명'].value_counts().head(10)

 여의나루역 1번출구 앞               4073
 뚝섬유원지역 1번출구 앞              3369
 홍대입구역 2번출구 앞               3174
 봉림교 교통섬                    2709
 롯데월드타워(잠실역2번출구 쪽)          2637
 고속터미널역 8-1번, 8-2번 출구 사이    2453
 마포구민체육센터 앞                 2178
 신도림역 1번 출구 앞               2022
 안암로터리 버스정류장 앞              1987
 잠실새내역 5번 출구 뒤              1841
Name: 대여대여소명, dtype: int64

In [22]:
#반납량이 많은 상위 대여소명 출력
df['반납대여소명'].value_counts().head(10)

 홍대입구역 2번출구 앞               3896
 뚝섬유원지역 1번출구 앞              3814
 여의나루역 1번출구 앞               3730
 봉림교 교통섬                    2762
 롯데월드타워(잠실역2번출구 쪽)          2624
 고속터미널역 8-1번, 8-2번 출구 사이    2495
 마포구민체육센터 앞                 2454
 안암로터리 버스정류장 앞              2110
 신도림역 1번 출구 앞               1961
 CJ 드림시티                    1932
Name: 반납대여소명, dtype: int64

In [25]:
#평균 이용거리가 긴 상위 대여소 출력
#대여대여소명별 이용거리의 평균을 구하기
df.groupby('대여대여소명')['이용거리(M)'].mean().reset_index().sort_values(by='이용거리(M)',ascending=False).head()

                 대여대여소명       이용거리(M)
353     동작역 5번출구 동작주차공원  10454.240000
330    독산보도육교 앞 자전거 보관소  10401.840607
810     신한은행 시흥대로금융센터지점   9857.738095
280               달맞이공원   9639.504950
1166          한내근린공원 남측   9419.090909

In [24]:
#평균 이용거리가 짧은 대여소 출력
df.groupby('대여대여소명')['이용거리(M)'].mean().reset_index()\
.sort_values(by='이용거리(M)',ascending=True).head(10)

                    대여대여소명      이용거리(M)
1249              상암센터 정비실   256.250000
188                  국군복지단  1828.244275
7                   CJ오쇼핑앞  1832.727273
100       건국대학교 과학관(이과대) 앞  2143.065327
937                 원남동사거리  2234.752294
584              상림마을 생태공원  2405.736041
700         성북제일새마을금고 본점 앞  2416.977778
40     SK telecom(수유직영점) 앞  2496.626506
939                 원묵고등학교  2563.861111
641             서울보증보험본사 앞  2588.011928

In [ ]:
#평균 이용시간이 많은 상위대여소
df.groupby('대여대여소명')['이용시간(분)'].mean().reset_index()\
.sort_values(by='이용시간(분)',ascending=False).head(10)

In [ ]:
#평균 이용시간이 적은 상위대여소
df.groupby('대여대여소명')['이용시간(분)'].mean().reset_index()\
.sort_values(by='이용시간(분)',ascending=True).head(10)

In [ ]:
# 대여일시, 반납일시 컬럼을 datetime 타입으로 변경
df['대여일시'] = pd.to_datetime(df['대여일시'])
df['반납일시'] = pd.to_datetime(df['반납일시'])
df.dtypes

In [ ]:
#년/월/일/시/분/요일 컬럼을 새로 생성
df['대여년'] = df['대여일시'].dt.year
df['대여월'] = df['대여일시'].dt.month
df['대여일'] = df['대여일시'].dt.day
df['대여시'] = df['대여일시'].dt.hour
df['대여분'] = df['대여일시'].dt.minute
df['대여요일'] = df['대여일시'].dt.dayofweek
df.columns

In [ ]:
df.loc[:,['대여일시','대여년', '대여월', '대여일', '대여시',
       '대여분', '대여요일']].tail()

In [ ]:
#년/월/일/시/분/요일 컬럼을 새로 생성
df['반납년'] = df['반납일시'].dt.year
df['반납월'] = df['반납일시'].dt.month
df['반납일'] = df['반납일시'].dt.day
df['반납시'] = df['반납일시'].dt.hour
df['반납분'] = df['반납일시'].dt.minute
df['반납요일'] = df['반납일시'].dt.dayofweek
df.columns

In [ ]:
df.loc[:,['반납일시','반납년', '반납월', '반납일', '반납시', '반납분', '반납요일']].tail()

In [ ]:
#일자별 대여/반납 현황
#1. 대여일별 건수 count
df_day_1 = df['대여일'].value_counts().reset_index()
df_day_1.columns = ['day','count']
df_day_1 = df_day_1.sort_values('day')
df_day_1['대여반납'] = '대여'
print(df_day_1.shape)
df_day_1.head()

In [ ]:
#2. 반납일별 건수 count
df_day_2= df['반납일'].value_counts().reset_index()
df_day_2.columns = ['day','count']
df_day_2 = df_day_2.sort_values('day')
df_day_2['대여반납'] = '반납'
print(df_day_2.shape)
df_day_2.head()

In [ ]:
# concat() 함수 사용
df_day = pd.concat([df_day_1, df_day_2])
print(df_day.shape)
df_day.head()